@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --main-color-blue: #4440f6;
  --light-theme-text-color: #111321;
  --dark-theme-text-color: #f4f4f4;
  --date-color: #a8a8a8;
  --light-bg-color: #ffffff;
  --dark-bg-color: #686868;
  --switch-off-color: #5f6775;
  --switch-on-color: #4b48db;
  --switch-inner-color: #4b48db;
  --font-family-main: "Manrope";
  --font-family-secondary: "Poppins";
  --font-family-accent: "Roboto";
}

.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0 16px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff"), url("../fonts/Manrope-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("ttf");
}
.header {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-nav__logo-link {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  color: var(--light-theme-text-color);
}

.header-nav__link {
  font-family: "Manrope";
  font-style: normal;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--light-theme-text-color);
}

.header-nav__link:hover {
  width: 100px;
  border-bottom: 1px solid #4440F7;
}

.header-nav {
  display: flex;
  margin-left: 16px;
  margin-top: 28px;
  margin-bottom: 28px;
  text-decoration: none;
  align-items: baseline;
}

.header-input {
  position: relative;
  width: 288px;
  height: 31px;
  padding: 5.31px 189px 4.43px 48px;
  border: 1px solid var(--light-theme-text-color);
  border-radius: 20px;
}

a {
  text-decoration: none;
}

.header-nav__list {
  padding: 0;
  margin-left: 102px;
  margin-right: 147px;
  display: flex;
  gap: 69px;
  list-style: none;
  text-decoration: none;
}

.header-input__icon {
  position: absolute;
}

.switch {
  margin-left: auto;
  position: relative;
  display: flex;
}

.switch input {
  display: none;
}

.slider {
  width: 40px;
  height: 20px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--switch-on-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--switch-on-color);
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.slider.round:before {
  border-radius: 50%;
  border-color: white;
}

svg {
  width: 21px;
  height: 21px;
  fill: var(--switch-on-color);
}/*# sourceMappingURL=index.css.map */