@import './base/base';
@import './base/common';
@import './base/fonts';
@import './utils/variables';


@import './layouts/header';
@import './layouts/switcher';
@import './layouts/list-of-cards';
@import './layouts/weather-card';
@import './layouts/card';

@import './layouts/categories';
@import './layouts/footer';
