:root {
  --main-color-blue: #4440f6;
  --footer-bg-color: #7a7a7a;

  //text colors
  --light-theme-text-color: #111321;
  --dark-theme-text-color: #f4f4f4;
  --date-color: #a8a8a8;

  //theme colors
  --light-bg-color: #ffffff;
  --dark-bg-color: #686868;

  //theme switch colors
  --switch-off-color: #5f6775;
  --switch-on-color: #4b48db;
  --switch-inner-color: #4b48db;

  // fonts
  --font-family-main: 'Manrope';
  --font-family-secondary: 'Poppins';
  --font-family-accent: 'Roboto';
}
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
