<!-- <div class="calendar" id="calendar">
  <label for="start" class="search">Search date news</label>

  <form>
    <input
      class="form-control"
      type="datetime-local"
      placeholder="Select DateTime"
    />
    <a class="input-button" title="toggle" data-toggle>
      <i class="icon-calendar"></i>
    </a>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
  config = {
    dateFormat: 'd/m/Y',
    // clickOpens: false,
    // wrap: true,
    // altInput: true,
  };
  flatpickr('input[type=datetime-local]', config);
</script> -->
