<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header-nav">
        <a
          class="header-nav__logo-link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >News</a
        >
      </li>
      <li class="header-nav__list-item">
        <a
          class="header-nav__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Favorite</a
        >
      </li>
      <li class="header-nav__list-item">
        <a
          class="header-nav__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Read</a
        >
      </li>
    </ul>
      <label for="header-label__input">
        <svg class="header-input__icon">
          <use href="./fonts/images/icons.svg#icon-search"></use>
        </svg>
        <input
          class="header-input"
          type="text"
          name="Search"
          placeholder="Search  |"
        />
    </label>
  </nav>
  <div class="header__theme-select">
    <p class="header__theme-select-light--on">Light</p>
    <svg class="header-checkbox__icon-light">
      <use href="./fonts/images/icons.svg#icon-sun"></use>
    </svg>
    <label class="header__switch">
      <input type="checkbox"/>
      <span class="header__slider header__slider-round"></span>
    </label>
    <svg class="header-checkbox__icon-dark">
      <use href="./fonts/images/icons.svg#icon-moon"></use>
    </svg>
    <p class="header__theme-select-dark--off">Dark</p>
    </div>
    <ul class="header__button-list">
      <li class="header__button-list--search">
        <button class="header__button-search">
          <svg class="header__mobile-icon-search">
            <use href="./fonts/images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </li>
      <li class="header__button-list--menu">
        <button class="header__button-menu">
          <svg class="header__burger-menu-icon">
            <use href="./fonts/images/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </li>
    </ul>
    <div>
      <ul>
        <li>
          <svg>
            <use href=""></use>
          </svg>
        </li>
        <li>
          <a href="">Home
          </a>
        </li>
        <li>
          <svg>
            <use href=""></use>
          </svg>
        </li>
      </ul>
      <ul>
        <li>
          <svg>
            <use href=""></use>
          </svg>
        </li>
        <li>
          <a href="">Favorite
          </a>
        </li>
        <li>
          <svg>
            <use href=""></use>
          </svg>
        </li>
      </ul>
      <ul>
        <li>
          <svg>
            <use href=""></use>
          </svg>
        </li>
        <li>
          <a href="">Read
          </a>
        </li>
        <li>
          <svg>
            <use href=""></use>
          </svg>
        </li>
      </ul>
      <svg class="header-checkbox__icon-light">
        <use href="./fonts/images/icons.svg#icon-sun"></use>
      </svg>
      <label class="header__switch">
        <input type="checkbox" />
        <span class="header__slider header__slider-round"></span>
      </label>
      <svg class="header-checkbox__icon-dark">
        <use href="./fonts/images/icons.svg#icon-moon"></use>
      </svg>
    </div>
</header>

