    <header>
        <a class="" href="" target="_blank" rel="noopener noreferrer">News</a>
        <nav class="">
            <ul class="">
                <li>
                    <a class="" href="" target="_blank" rel="noopener noreferrer">Home</a>
                </li>
                <li>
                    <a class="" href="" target="_blank" rel="noopener noreferrer">Favorite</a>
                </li>
                <li>
                    <a class="" href="" target="_blank" rel="noopener noreferrer">Read</a>
                </li>
            </ul>
        </nav>
        <input class="" type="text" name="Search" placeholder="Search |">
        <label class="switch">
            <span class="">Light</span>
            <input type="checkbox">
            <span class="slider round"></span>
            <span class="">Dark</span>
        </label>
    </header>