<header class="header container">
  <nav class="header-nav">
    <a
      class="header-nav__logo-link"
      href=""
      target="_blank"
      rel="noopener noreferrer"
      >News</a
    >
    <ul class="header-nav__list">
      <li class="header-nav__list-item">
        <a
          class="header-nav__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Home</a
        >
      </li>
      <li class="header-nav__list-item">
        <a
          class="header-nav__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Favorite</a
        >
      </li>
      <li class="header-nav__list-item">
        <a
          class="header-nav__link"
          href=""
          target="_blank"
          rel="noopener noreferrer"
          >Read</a
        >
      </li>
    </ul>
    <input
      class="header-input"
      type="text"
      name="Search"
      placeholder="Search"
    />
    <svg class="header-input__icon">
      <use href="./fonts/images/icons.svg#icon-search"></use>
    </svg>
  </nav>
  <ul class="header-checkbox-list">
    <li>Light</li>
    <li>
      <label class="switch">
        <svg class="aa">
          <use href="./fonts/images/icons.svg#icon-sun"></use>
        </svg>
        <input type="checkbox" />
        <span class="slider round"></span>
        <svg>
          <use href="./fonts/images/icons.svg#icon-moon"></use>
        </svg>
      </label>
    </li>
    <li>Dark</li>
  </ul>
</header>
