<section class="underfined underfined-hidden">
        <p class="underfined___title">We haven't found news from </br> this category</p>
        <picture >
            <source 
                srcset="./fonts/images/mobile/mobile.png 1x, ./fonts/images/mobile/mobile@2x.png 2x" 
                type="image/png" 
                media="(max-width: 479.98px)"
                alt="underfined-picture"/>
            <source 
                srcset=" ./fonts/images/tablet/tablet.png 1x, ./fonts/images/tablet/tablet@2x.png 2x" 
                type="image/png" 
                media="(max-width:767.98px)" 
                alt="underfined-picture"/>
            <source 
                srcset="./fonts/images/desktop/desktop.png 1x, ./fonts/images/desktop/desktop@2x.png 2x" 
                type="image/png" 
                media="(min-width: 1279.98px)"
                alt="underfined-picture"/>
            <img 
                class="underfined___picture"
                src="./fonts/images/mobile/mobile.png"" 
                alt="underfined-picture" 
                width="248" 
                height="198"/>
        </picture>
</section>
