.calendar {
  // margin-bottom: 10px;
  // display: flex;
  align-items: center;
}

label {
  display: inline-block;
  // width: 300px;
}

.search {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #111321;
}

.form-control {
  border: 1px solid #111321;
  border-radius: 20px;
}

.flatpicker-calendar {
  background: #f8f8f8;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
