/*MStartsev*/

.card {
  position: relative;
  display: block;
  width: 288px;
  min-height: 630px;
  text-decoration: none;

  border: none;
  box-shadow: 5px 5px 5px rgba(134, 133, 133, 0.02),
    2px 7px 10px rgba(126, 125, 126, 0.02),
    3px 9px 20px rgba(234, 233, 238, 0.05);
  transition: all 0.25s;

  @media screen and (min-width: $tablet) {
    width: 353px;
    min-height: 675px;
  }

  @media screen and (min-width: $desktop) {
    width: 395px;
    min-height: 675px;
  }

  & svg {
    margin-left: 4px;
    margin-bottom: -3px;
    width: 16px;
    height: 16px;
  }

  &__container {
    position: relative;
    width: 288px;
    height: 395px;

    @media screen and (min-width: $tablet) {
      width: 353px;
    }

    @media screen and (min-width: $desktop) {
      width: 395px;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 288px;
    height: 395px;
    position: absolute;
    z-index: -1;

    @media screen and (min-width: $tablet) {
      width: 353px;
    }

    @media screen and (min-width: $desktop) {
      width: 395px;
    }
  }

  &__already {
    position: absolute;
    left: 167px;
    top: 14px;

    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.35;
    color: #00dd73;
    fill: #00dd73;

    &--false {
      display: none;
    }
  }

  &__category {
    position: absolute;
    width: 112px;
    height: 24px;
    left: 0px;
    top: 40px;
    padding: 4px 8px;

    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    text-align: center;
    color: #ffffff;

    background: rgba(68, 64, 247, 0.7);
    border-radius: 0px 4px 4px 0px;
  }

  &__favorite {
    display: flex;
    position: absolute;
    right: 8px;
    top: 355px;
    padding: 6px 12px;

    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.333;
    text-align: center;

    color: #111321;

    background: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  &__title {
    display: block;
    padding-top: 20px;
    margin: 0;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: -0.01em;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      font-size: 32px;
      line-height: 1.36;
    }
  }

  &__abstract {
    padding-top: 20px;
    margin: 0;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;

    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.375;
    }
  }

  &__date {
    position: absolute;
    bottom: 4px;
    left: 5px;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: right;
    color: #a8a8a8;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.375;
    }
  }

  &__read {
    position: absolute;
    bottom: 4px;
    right: 5px;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #4440f7;
    text-decoration: none;

    @media screen and (min-width: $tablet) {
      font-size: 16px;
      line-height: 1.375;
    }
  }
}

.favorite {
  &__text {
    &--false {
      display: none;
    }
  }
}
