.categories-container {
  position: relative;
  display: flex;
  margin-top: 28px;
  margin-left: 16px;
  margin-bottom: 60px;
  }

.option {
  padding: 6px 24px;
}

.categories {
  display: flex;
  gap: 16px;
  max-height: 44px;
}

.categories__button {
  font-size: 12px;
  background: var(--light-bg-color);
  color: var(--main-color-blue);
  border: 1px solid var(--main-color-blue);
  border-radius: 20px;
  padding: 8px 24px;
  cursor: pointer;
}

.categories__button:hover {
  background: var(--main-color-blue);
  color:  var(--light-bg-color);
}

.container__dropdown {
  margin-left: 16px;
  z-index: 1;
}

.select-box {
  display: flex;
  width: 165px;
  flex-direction: column;
  position: absolute;

  // top: 0px;
  // left: 641px;
  // padding: 8px 21px;
}

.select-box .options-container {
  background: var(--dark-theme-text-color);
  color: var(--main-color-blue);
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  order: 1;
}

.selected {
  width: 110px;
  font-size: 12px;
  padding: 8px 24px;
  background: var(--light-bg-color);
  border-radius: 8px;
  color: var(--main-color-blue);
  position: relative;
  border: 1px solid var(--main-color-blue);
  border-radius: 20px;

  order: 0;
}

.selected:hover {
  background: var(--main-color-blue);
  color: var(--light-bg-color);
}

.selected::after {
content: "";
 display: block;

  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  height: 100%;
  width: 32px;
  right: 10px;
  top: 0px;

  transition: all 0.4s;
  transform: rotateX(180deg);
}

.select-box .options-container.active {
  max-height: 380px;
  border-radius: 20px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: rotateX(180deg);
  top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
  width: 8px;
  background: var(--dark-theme-text-color);
  border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: var(--dark-theme-text-color);
  border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
  cursor: pointer;
}

.select-box .option:hover {
  text-decoration: underline;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

.select-box__icon {
  width: 14px;
  height: 14px;
  position: absolute;
 right: 20px;

}