.list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}


.spinner {
  position: absolute;
  content: " ";
  border: .6em solid white;
  width: 30em;
  height: 30em;
  border-radius: 3em;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  position: absolute;
  z-index: 555;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}