.list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card__list {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
